<a href="https://colab.research.google.com/github/phamnguyengialinh/gialinh06.github.io/blob/gh-pages/Bu%E1%BB%95i_2_250816.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Ngôn ngữ Python

In [1]:
print ("HELLO WORLD")

HELLO WORLD

In [6]:
x = 2
price = 2.5
word = 'Hello'


word = 'Hello'
word = "Hello"
word = '''Hello'''

In [7]:
x = 2
y = x + 1

In [8]:
# comment
from platform import python_version
print("Python Version:", python_version())

Python Version: 3.11.13

In [10]:
x = "Hello World" #str
x = 2 #int
x = 2.5 #float
x = 7j #complex

## Cấu trúc dữ liệu

In [13]:
x = str(3) # x will be '3'
y = int(3) # y will be 3
z = float(3) # z will be 3.0
print(x, type(x))
print(y, type(y))
print(z, type(z))

3 <class 'str'>
3 <class 'int'>
3.0 <class 'float'>

In [14]:
x = 2 # int
y = 3.4 # float
z = 7j #complex
print(x, type(x))
print(y, type(y))
print(z, type(z))

2 <class 'int'>
3.4 <class 'float'>
7j <class 'complex'>

In [16]:
#Operator
print (7+2)
print (7-2)
print (7*2)
print (7/2)
print (7//2)
print (7%2)
print (7**2)

9
5
14
3.5
3
1
49

In [22]:
#BMI
#Input

height_cm = 170
weight_kg = 60

 #Process
Height_m = height_cm / 100
bmi = (weight_kg / (Height_m **2))
print ('Your BMI is', round (bmi, 2))

Your BMI is 20.76

In [23]:
# How much is your $100 worth after 7 years?
fv = 100 * 1.1 ** 7
print('fv = ', round(fv, 2))

fv =  194.87

In [24]:
# Future Value
pv = 100
r = 0.1
n = 7
fv = pv * ((1 + (r)) ** n)
print(round(fv, 2))

194.87

In [25]:
# Future Value
amount = 100
interest = 10 #10% = 0.01 * 10
years = 7
future_value = amount * ((1 + (0.01 * interest)) ** years)
print(round(future_value, 2))

194.87

In [26]:
x = ["apple", "banana", "cherry"] #list
x = ("apple", "banana", "cherry") #tuple
x = range(6) #range
x = {"name" : "Tom", "age" : 20} #dict
x = {"apple", "banana", "cherry"} #set
x = frozenset({"apple", "banana", "cherry"})
#frozenset

In [34]:

x = [60, 70, 80, 90]
print(len(x))
print(x[0])
print(x[1])
print(x[-1])

4
60
70
90

In [31]:
x = (10, 20, 30, 40, 50)
print(x[0])
print(x[1])
print(x[2])
print(x[-1])

10
20
30
50

In [33]:
animals = {'cat', 'dog'}
print('cat' in animals)
print('fish' in animals)
animals.add('fish')
print('fish' in animals)
print(len(animals))
animals.add('cat')
print(len(animals))
animals.remove('cat')
print(len(animals))

True
False
True
3
3
2

In [36]:
fruits = ["apple", "banana", "cherry"] #lists []
colors = ("red", "green", "blue") #tuples ()
animals = {'cat', 'dog'} #sets {}
person = {"name" : "Tom", "age" : 20} #dictionaries {}

In [37]:
# Python Lists
expenses = [72.50, 80.75, 50.00, 90.25]
total_expenses = sum(expenses)
print("Total expenses:", total_expenses)

Total expenses: 293.5

In [39]:
# Python Tuples
accounts = (("Cash", 1001), ("Accounts Receivable", 1002),
("Inventory", 1003))
for account in accounts:
 print("Account name:", account[0], "Account number:", account[1])

Account name: Cash Account number: 1001
Account name: Accounts Receivable Account number: 1002
Account name: Inventory Account number: 1003

In [42]:
#set
account_numbers = set ([acc[1] for acc in accounts]) # set conprehensive
print (account_numbers)
new_acc_number = 1004
if new_acc_number not in account_numbers:
 print (f'Account number {new_acc_number} is not in use')

{1001, 1002, 1003}
Account number 1004 is not in use

In [40]:
# Sets
account_numbers = {1001, 1002, 1003}
new_account_number = 1004
if new_account_number not in account_numbers:
 print("Account number", new_account_number, "is not in use.")

Account number 1004 is not in use.

In [44]:
# Dictionaries
accounts = {"1001": {"name": "Cash", "balance": 500.00, "type": "Asset"},
"1002": {"name": "Accounts Receivable", "balance": 1000.00, "type": "Asset"},
"2001": {"name": "Accounts Payable", "balance": 750.00, "type": "Liability"}}
for account_number, account_info in accounts.items():
 print("Account number:", account_number)
 print("Account name:", account_info["name"])
 print("Account balance:", account_info["balance"])
 print("Account type:", account_info["type"])

Account number: 1001
Account name: Cash
Account balance: 500.0
Account type: Asset
Account number: 1002
Account name: Accounts Receivable
Account balance: 1000.0
Account type: Asset
Account number: 2001
Account name: Accounts Payable
Account balance: 750.0
Account type: Liability

##Control Logic and Loops

In [47]:
# Python if
score = 80
if score >= 90:
 print ('A')
elif score >=60 : #score < 90 and score >= 60
 print("Pass")
else: #score < 60
 print ('Fail')

Pass

In [49]:
# for loops
for i in range(1,10):
 for j in range(1,10):
  print(i, ' * ' , j , ' = ', i*j)

1  *  1  =  1
1  *  2  =  2
1  *  3  =  3
1  *  4  =  4
1  *  5  =  5
1  *  6  =  6
1  *  7  =  7
1  *  8  =  8
1  *  9  =  9
2  *  1  =  2
2  *  2  =  4
2  *  3  =  6
2  *  4  =  8
2  *  5  =  10
2  *  6  =  12
2  *  7  =  14
2  *  8  =  16
2  *  9  =  18
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
4  *  1  =  4
4  *  2  =  8
4  *  3  =  12
4  *  4  =  16
4  *  5  =  20
4  *  6  =  24
4  *  7  =  28
4  *  8  =  32
4  *  9  =  36
5  *  1  =  5
5  *  2  =  10
5  *  3  =  15
5  *  4  =  20
5  *  5  =  25
5  *  6  =  30
5  *  7  =  35
5  *  8  =  40
5  *  9  =  45
6  *  1  =  6
6  *  2  =  12
6  *  3  =  18
6  *  4  =  24
6  *  5  =  30
6  *  6  =  36
6  *  7  =  42
6  *  8  =  48
6  *  9  =  54
7  *  1  =  7
7  *  2  =  14
7  *  3  =  21
7  *  4  =  28
7  *  5  =  35
7  *  6  =  42
7  *  7  =  49
7  *  8  =  56
7  *  9  =  63
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
9  *  1  =  9
9  *  2  =  18
9  *  3  =  27
9  *  4  =  36
9  *  5  =  45
9  *  6  =  54
9  *  7  =  63
9  *  8  =  72
9  *  9  =  81

In [55]:
# while loops
age = 10
while age < 20:
 print(age)
 age = age + 1

10
11
12
13
14
15
16
17
18
19

## MODULES AND FUNTIONS

In [51]:
# Python Function def
# indentation for blocks. four spaces
def getfv(pv, r, n):
 fv = pv * ((1 + (r)) ** n)
 return fv
fv = getfv(100, 0.1, 7)
print(round(fv, 2))

194.87

In [63]:
class Person:
  def __init__(self, name, age): # constructor (ham tao doi tuong)
    self.name = name
    self.age = age
  def myfunc (self):
    print ('Hello my name is', self.name)
    pass
p1 = Person("Alan", 20)
print(p1.name, p1.age)

Alan 20

In [72]:
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00

    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

In [68]:
class Vehicle:
    name = ""
    kind = "car"
    color = ""
    value = 100.00

    def description(self):
        desc_str = "%s is a %s %s worth $%.2f." % (self.name, self.color, self.kind, self.value)
        return desc_str

car1 = Vehicle()
car1.name = "Fer"
car1.color = "red"
car1.kind = "convertible"
car1.value = 60000.00

car2 = Vehicle()
car2.name = "Jump"
car2.color = "blue"
car2.kind = "van"
car2.value = 10000.00

print(car1.description())
print(car2.description())

Fer is a red convertible worth $60000.00.
Jump is a blue van worth $10000.00.

In [70]:
%%writefile mymodule.py
def greeting(name):
    print("Hello, " + name)

def greeting_vn(name):
    print("Xin chào, " + name)

Writing mymodule.py

In [71]:
import mymodule as m1
import importlib
importlib.reload(m1)

m1.greeting('Alan')
m1.greeting_vn('Alan')

Hello, Alan
Xin chào, Alan

In [73]:
# Python File Input / Output
with open('myfile.txt'
, 'w') as file:
 file.write ('Hello World\nThis is Python File Input Output')
with open('myfile.txt', 'r') as file:
  text = file.read()
print(text)

Hello World
This is Python File Input Output

##Files and Exception Handling

##Python Try Except

In [74]:
import glob

In [75]:
glob.glob('/content/sample_data/*.csv')

['/content/sample_data/mnist_train_small.csv',
 '/content/sample_data/mnist_test.csv',
 '/content/sample_data/california_housing_test.csv',
 '/content/sample_data/california_housing_train.csv']

## Kết thúc